
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:#8A8A8A;
    --heading-color:#151515;
    --body-bg-color:#FAFAFA;
}

body{
    height: 100vh;
    /* width: 100vw; */
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;

    /* overflow: hidden; */
}

/* nevigation */
.nevigation{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* border: 2px solid red; */

    height: 90px;

    
}


/* text color in left and right container */


.nevigation-left,.nevigation-right,a{
    color: var(--text-color);
}

.nevigation-left,.nevigation-right,a:hover{
    color: var(--heading-color);
}


.nevigation-left{
    /* border: 2px solid black; */
    display: flex;
    /* justify-content:space-between; */
    justify-content: center;
    align-items: center;
    /* gap:0px; */

    margin-left: 30px;
}

.logo-container-svg{

 /* border:2px solid blue; */
 margin-top: 10px;

}


.nav-links-left{
    /* border: 2px solid green; */
    margin-left: 70px;
}

.nav-links-left>ul {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    /* margin-left: 60px; */

    /* border: 2px solid pink; */

}

.nav-links-left>ul>li,a{
    list-style:none;
    text-decoration: none;
}


   /* ------right side of the nav */
.nevigation-right{
    display: flex;
    justify-content: center;
    align-items: center;


    margin-right: 50px;
}
.nevigation-right{

    display: flex;

    justify-content: center;
    align-content: center;
    gap: 50px;


}





   
.button-container>button{
  font-size: inherit;
  font-family: inherit;

  /* padding: 10px; */

  /* padding: 10px 18px; */
}

.button-container>button{
    padding: 12px 18px;
    border: 1px solid black;
    border-radius: 15px;
    
}



/* main body */

.main-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid black; */
}


/* left side of the body */

.main-container-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* margin-inline:10rem; */
    padding: 10rem;;

    /* border: 2px solid black; */
 

}




.text-container{
    display: flex;
    justify-content:flex-start;    align-items:flex-start;

    
    flex-direction: column;


    /* border: 2px solid black; */


    /* border: 2px solid black; */
}


.text-container>h1{
    font-size: 100px;
    text-align: center;
    
}

.text-container>button{

    height: 50px;
    width:150px;

    font-size: inherit;
    font-family: inherit;
    /* border: none; */
}




/* right side of the body ---> image*/


.clients-container{
    display: flex;
    justify-content:space-between;

}


.hero-image-container{
    margin-right: 20px;
}


.main-container-right{
    
}
.main-container-right>img{

    height: 700px;
    /* margin-right: 20px;            */
    /* width: 600px; */

}

